body {
    background-image: url('backhroun_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgba(34, 34, 34, 0.2);
    color: #ffffff;
    font-family: Arial, sans-serif;
    /* padding: 20px; */
    /* margin: 0; */
    backdrop-filter: blur(2px);
    /* Adjust the '5px' value to control the blur intensity */
}
/* For WebKit-based browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}